### Supermarket data science case study - Exploring first data

### Importing packages

In [63]:
import pandas as pd
import sys
import matplotlib.pyplot as plt
import altair as alt
#import vegafusion as vf
import sklearn

from sklearn.pipeline import Pipeline, make_pipeline

### Functions

In [ ]:
def f_concat(l_input):

    # Initialize.
    dummy = ""
    n_len = len(l_input)

    if n_len == 1:
        return l_input[0]

    # Loop through text elements.
    for i in range(n_len - 1):
        dummy = dummy + l_input[i] + ", "

    # Append last element.
    dummy = dummy + "and " + l_input[n_len - 1]

    # Return result.
    return dummy

In [ ]:
def f_describe(df_input, n_top=10):

    print("First " + str(n_top) + " rows in de data:")
    display(df_input.head(n_top))

    df_numeric = df_input.select_dtypes(
        include=[
            "uint8",
            "uint16",
            "uint32",
            "uint64",
            "int8",
            "int16",
            "int32",
            "int64",
            "float16",
            "float32",
            "float64",
        ]
    )

    if len(df_numeric.columns):
        print("Numerical data:")
        display(df_numeric.describe())

    df_textual = df_input.select_dtypes(include=["category", "object", "bool"])

    if len(df_textual.columns):
        print("Textual data:")
        display(df_textual.describe())

    v_na = [
        col
        + " ("
        + str(df[col].isna().sum())
        + ", "
        + str(round(100 * df[col].isna().sum() / df.shape[0], 1))
        + "%)"
        for col in df.columns
        if df[col].isna().sum() > 0
    ]

    if len(v_na) > 0:
        print("Features and their number of missing values:")
        display(f_concat(v_na))

### Downcast and transform data
Update formatting of features to optimize memory and standardize column names.

In [ ]:
def standardize_column_names(s):
    return s.replace(" ", "")


def optimize_memory(df):
    # Change: Objects to Categorical.                                               #WHEN needed to transform Objects to Categorical?
    # object_cols = df.select_dtypes(include="object").columns
    # if not object_cols.empty:
    #     print("Change: Objects to Categorical")
    #     df[object_cols] = df[object_cols].astype("category")

    # Change: Convert integers to smallest unsigned integer and floats to smallest.
    for old, new in [("integer", "unsigned"), ("float", "float")]:
        print("Change: " + old + " --> " + new)
        for col in df.select_dtypes(include=old).columns:
            df[col] = pd.to_numeric(df[col], downcast=new)

    return df


def month_year_to_int(df, i):
    # Change: Month and Year to integer
    if i == 0:
        print("Change: Month and Year to integer")
        df = df.astype({"month": int, "year": int})

    return df

### Transform date-related columns to datetime format.

In [ ]:
# Convert datasets to time series
def transform_date_to_datetime(df, i):
    if i == 0:
        print("Change: Transformed 'year', 'month', 'day' columns to Datetime feature")
        df["date"] = pd.to_datetime(df[["year", "month", "day"]], unit="us")

        print(
            "Change: Dropped 'year', 'month', 'day' columns and transformed to Datetime64[us] feature"
        )
        df.drop(columns=["day", "month", "year"], inplace=True)

    else:
        if "date" in df.columns:
            print("Change: Transformed 'date' column to Datetime Dtype")
            df["date"] = pd.to_datetime(df["date"]).dt.tz_localize(None)

    return df

### Import data from local PATH
Import data trough pipeline to downcast the data and transformations

In [ ]:
def f_get_data(i=0):

    # Define path.
    c_path = "/Users/Georgi/Documents/EAISI/EASI_4B_Supermarket/Group4B/data/raw/"
    # Identify file.
    v_file = (
        "history-per-year",  # 0
        "history_aggregated",  # 1
        "holidays_events",  # 2
        "items",  # 3
        "oil",  # 4
        "stores",  # 5
        "transactions",
    )  # 6

    # Load data.
    df = (
        pd.read_parquet(c_path + v_file[i] + ".parquet")
        .rename(columns=standardize_column_names)
        .pipe(optimize_memory)
        .pipe(month_year_to_int, i)
        .pipe(transform_date_to_datetime, i)
    )

    # Return data.
    return df

### Importing data

In [ ]:
df = f_get_data(0)

In [ ]:
f_describe(df)

In [ ]:
df.info()

### Some Statistics:

In [ ]:
print("The data\n")
print(
    f"-> Contains:                {round(df.shape[0]/1e6, 1)} million observations and {df.shape[1]} features.\n"
)
print(
    f"-> Contains:                {df.shape[0]} observations and {df.shape[1]} features.\n"
)
print(f"-> Have feature names:      {f_concat(df.columns)}.\n")
print(f"-> Has optimized size of    {round(sys.getsizeof(df)/1024/1024/1024, 2)} GB.")

In [ ]:
# df = f_get_data(0)
# f_describe(df)

# df.head()
# df.tail(10)
df.sample(20)
# df.info()
# df.describe()
# df.nunique

In [ ]:
df = f_get_data(1)
# f_describe(df)
df.info()
df.sample(20)

In [ ]:
df = f_get_data(2)
f_describe(df)
df.info()
df.sample(20)

In [ ]:
df = f_get_data(3)
f_describe(df)
df.info()

In [ ]:
df = f_get_data(4)
f_describe(df)
df.info()
df.sample(20)

In [ ]:
df = f_get_data(5)
f_describe(df)
df.info()

In [ ]:
df = f_get_data(6)
f_describe(df)
df.info()
df.sample(20)

In [ ]:
df = f_get_data(6)

In [ ]:
# alt.data_transformers.enable("default")
# alt.data_transformers.disable_max_rows()


aggregated_df = df.groupby("date").sum().reset_index()

print(
    f"-> Contains:                {df.shape[0]} observations and {df.shape[1]} features.\n"
)

print(
    f"-> Contains:                {aggregated_df.shape[0]} observations and {aggregated_df.shape[1]} features.\n"
)

aggregated_df2 = df.groupby(["date", "store_nbr"]).sum().reset_index()
print(
    f"-> Contains:                {aggregated_df2.shape[0]} observations and {aggregated_df2.shape[1]} features.\n"
)


print(1682 / 5)
# aggregated_df.head(20)

print(df.dtypes)
print(aggregated_df.dtypes)

In [ ]:
# Enable the Vegafusion transformer and disable the maximum rows limit
vf.enable()
# alt.data_transformers.enable("vegafusion")
alt.data_transformers.disable_max_rows()

aggregated_df = df.groupby("date").sum().reset_index()

chart = (
    alt.Chart(aggregated_df)
    .mark_circle()
    .encode(x="date:T", y="transactions:Q")  # , color="store_nbr:N") #Dtype = uint64
    .properties(width=1200, height=480)
    .interactive()
)

chart  # .display()

In [ ]:
# Enable the Vegafusion transformer and disable the maximum rows limit
# vf.enable()
# alt.data_transformers.enable("vegafusion")
# alt.data_transformers.disable_max_rows()

# Enable Vegafusion and set a higher row limit
vf.enable(row_limit=100000)
alt.data_transformers.enable("vegafusion")

filtered_df = df[df["date"].dt.year == 2014]

df["store_nbr"] = df["store_nbr"].astype("category")

chart = (
    alt.Chart(filtered_df)
    .mark_circle()
    .encode(x="date:T", y="transactions:Q", color="store_nbr:N")  # Dtype = uint64
    .properties(width=1200, height=480)
    .interactive()
)


chart  # .display()