In [1]:
# convert original data to partitioned parquet files
# such that we can share it via GitHub (100 MB limit on filesize)
# https://eyeon.blob.core.windows.net/recruitmentcase/EyeOn%20Recruitment%20case.7z?sv=2017-04-17&si=recruitmentcase-161466D8E24&sr=c&sig=GSlxNFPlG1vUUciky9RObbQWvxcZExh99/e3N1DNAlo=
import pandas as pd

In [2]:
df = pd.read_csv('history.csv')

/Users/dkapitan/.pyenv/versions/3.8.6/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125497040 entries, 0 to 125497039
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   id           int64
 1   date         object
 2   store_nbr    int64
 3   item_nbr     int64
 4   unit_sales   float64
 5   onpromotion  object
dtypes: float64(1), int64(3), object(2)
memory usage: 5.6+ GB

In [38]:
df.onpromotion = df.onpromotion.astype('boolean')
df.date = pd.to_datetime(df.date)
df['year'] = df.date.dt.year
df['month'] = df.date.dt.month
df['day'] = df.date.dt.day

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125497040 entries, 0 to 125497039
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   id           int64
 1   date         datetime64[ns]
 2   store_nbr    int64
 3   item_nbr     int64
 4   unit_sales   float64
 5   onpromotion  boolean
 6   year         int64
 7   month        int64
 8   day          int64
dtypes: boolean(1), datetime64[ns](1), float64(1), int64(6)
memory usage: 7.7 GB

In [46]:
# df.drop(columns='date').select_dtypes(include='int64').columns
for col in ['id', 'store_nbr', 'item_nbr', 'year', 'month', 'day']:
    df[col] = pd.to_numeric(df[col], downcast='unsigned')

In [47]:
# from 7.7 GB to 2.7 GB!
df.drop(columns='date').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125497040 entries, 0 to 125497039
Data columns (total 8 columns):
 #   Column       Dtype
---  ------       -----
 0   id           uint32
 1   store_nbr    uint8
 2   item_nbr     uint32
 3   unit_sales   float64
 4   onpromotion  boolean
 5   year         uint16
 6   month        uint8
 7   day          uint8
dtypes: boolean(1), float64(1), uint16(1), uint32(2), uint8(3)
memory usage: 2.7 GB

In [48]:
df.drop(columns='date').to_parquet('history-per-year.parquet', index=None, partition_cols=['year', 'month'], compression='gzip')

In [14]:
df2 = pd.read_csv('history_aggregated.csv')

In [15]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 948220 entries, 0 to 948219
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   onpromotion     948220 non-null  bool
 1   item_nbr        948220 non-null  int64
 2   week            948220 non-null  int64
 3   date            948220 non-null  object
 4   unit_sales_sum  948220 non-null  float64
 5   count           948220 non-null  int64
 6   family          948220 non-null  object
 7   class           948220 non-null  int64
 8   perishable      948220 non-null  int64
dtypes: bool(1), float64(1), int64(5), object(2)
memory usage: 58.8+ MB

In [16]:
df2.head()

,onpromotion,item_nbr,week,date,unit_sales_sum,count,family,class,perishable
0,False,764438,201323,2013-06-04T00:00:00.000Z,1925.0,180,GROCERY I,1072,0
1,False,764438,201324,2013-06-11T00:00:00.000Z,1516.0,164,GROCERY I,1072,0
2,False,764438,201325,2013-06-18T00:00:00.000Z,1656.0,176,GROCERY I,1072,0
3,False,764438,201326,2013-06-25T00:00:00.000Z,1610.0,177,GROCERY I,1072,0
4,False,764438,201327,2013-07-02T00:00:00.000Z,1987.0,182,GROCERY I,1072,0

In [18]:
df2.date = pd.to_datetime(df2.date)

In [19]:
df2.family.unique()

array(['GROCERY I', 'POULTRY', 'CLEANING', 'BEVERAGES', 'GROCERY II',
       'FROZEN FOODS', 'MEATS', 'DAIRY', 'PERSONAL CARE', 'SEAFOOD',
       'BREAD/BAKERY', 'LIQUOR,WINE,BEER', 'PREPARED FOODS', 'HARDWARE',
       'DELI', 'LAWN AND GARDEN', 'EGGS', 'BEAUTY', 'LINGERIE',
       'AUTOMOTIVE', 'PRODUCE', 'HOME AND KITCHEN II',
       'HOME AND KITCHEN I', 'MAGAZINES', 'HOME CARE', 'PET SUPPLIES',
       'BABY CARE', 'SCHOOL AND OFFICE SUPPLIES',
       'PLAYERS AND ELECTRONICS', 'CELEBRATION', 'LADIESWEAR', 'BOOKS',
       'HOME APPLIANCES'], dtype=object)

In [21]:
df2.family = df2.family.astype('category')

In [22]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 948220 entries, 0 to 948219
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   onpromotion     948220 non-null  bool
 1   item_nbr        948220 non-null  int64
 2   week            948220 non-null  int64
 3   date            948220 non-null  datetime64[ns, UTC]
 4   unit_sales_sum  948220 non-null  float64
 5   count           948220 non-null  int64
 6   family          948220 non-null  category
 7   class           948220 non-null  int64
 8   perishable      948220 non-null  int64
dtypes: bool(1), category(1), datetime64[ns, UTC](1), float64(1), int64(5)
memory usage: 52.5 MB

In [31]:
df2.to_parquet('history_aggregated.parquet', compression='gzip')

In [34]:
from pathlib import Path

cwd = Path('.')
for file in cwd.glob('*.csv'):
    df_ = pd.read_csv(file)
    df_.to_parquet(file.stem + '.parquet', compression='gzip')